# Google Cloud API Key for Vertex AI
GOOGLE_CLOUD_API_KEY=your_api_key_here

# Google Cloud Project Configuration
GOOGLE_CLOUD_PROJECT=tech-bharath
GOOGLE_CLOUD_LOCATION=asia-south1
RAG_CORPUS=projects/tech-bharath/locations/asia-south1/ragCorpora/288230376151711744
